body {
	font-size: 14px;
}
.normal-font {
	font-size: 14px;
}

.costa-rica-table tr td {
	height: 15px;
	font-size: 10px;
}

/*Site Nav Bar*/
.my-nav {
	background:  #654321;
	color: white;
	padding: 20px 0;
}
.my-nav-items {
	display: inline;
	font-size: 18px;
}
.my-nav-items a {
	color: lightblue;
	margin: 0 3px;
}

/*Projects Nav Bar*/
.project-nav {
	background:  #665433;
	color: white;
	padding: 15px 3em;
}
.project-nav-items {
	display: inline;
	font-size: 14px;
}
.project-nav-items a {
	color: pink;
	margin: 0 3px;
}

.selected-nav {
	background-color: gray;
	border-radius: 5px;
}

/*Other*/
.logo {
	display: inline-block;
	text-align: center;
}
.large-font {
	font-size: 18px
}
.small-width {
	width:60%;
}
.subtitle-text {
	font-size: 14px;
}
.caption {
	text-align: center;
}
.footer {
	background-color: lightgray;
	padding: 25px 0;
	margin-top: 20px;
}
.planet {
	border-radius: 50%;
	position: absolute;
}
.kaggle-div {
	text-align: center;
	float: left;
	cursor: pointer;
	height: 250px;
	padding: 20px;
}
